* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f8f9fa;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img {
    width: 50%;
    border-radius: 10px;
}

.hero-text {
    width: 40%;
    padding: 20px;
}

.hero-text h1 {
    font-size: 2rem;
}

.hero-text p {
    color: #666;
}

@media (max-width: 768px) {
    .hero .container {
        flex-direction: column;
        text-align: center;
    }
    .hero-img, .hero-text {
        width: 100%;
    }
}

/* Section Styling */
.container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

.container img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.navbar-nav {
    justify-content: end;
    text-align: end;
    width: 100%;
}
.navbar-toggler {
    border: none;
}


.main-img{
    height: auto;
    width: 35%;
    margin: 3%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: #e9ecef;
    margin-top: 30px;
    padding: 10px;
}